<!DOCTYPE html>
<html>
<form method= "POST" action="/drink">
  <p>your name:<input type="text" name="name"></p>
  <p>your favorite drink:<input type="text" name="favorite_drink"></p>
  <input type="submit">
</form>
</html>