<!DOCTYPE html>
<html>
<form method= "POST" action="/drink">
  <p>your name:<input type="text" name="name"></p>
  <p>your favorite drink:<select>
  <option value="ice tea">ice tea</option>
  <option value="lemonade">lemonade</option>
  <option value="pop">pop</option>
  <option value="watermelon schnapps">watermelon schnapps</option>
</select></p>
  <input type="submit">
</form>
</html>

