<!DOCTYPE html>
<html>
<form method= "POST" action="/drink">
  <p>your name:<input type="text" name="name"></p>
  
  <p>your favorite drink: <select>
  <option value="ice tea" name="favorite_drink">ice tea</option>
  <option value="lemonade" name="favorite_drink">lemonade</option>
  <option value="pop" name= "favorite_drink">pop</option>
  <option value="watermelon schnapps" name= "favorite_drink">watermelon schnapps</option>
</select></p>
  <input type="submit">
</form>
</html>

