<!DOCTYPE html>
<html>
<form method= "POST" action="/drink">
  <p>your name:<input type="text" name="name"></p>
  
  
  
  <p>your favorite drink:<select>
  <option value="ice tea" name="ice tea">ice tea</option>
  <option value="lemonade" name="lemonade">lemonade</option>
  <option value="pop" name= "pop">pop</option>
  <option value="watermelon schnapps" name= "watermelon schnapps">watermelon schnapps</option>
</select></p>
  <input type="submit">
</form>
</html>

